# Editor files
*~

# Devenv
.envrc
.devenv.flake.nix
devenv.local.nix
.devenv/

# Node
node_modules/

# Data
data/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
